.App {
  text-align: center;
  background-color: #1B3027;
}

.button-active {
  color: white;
  background-color: black;
  border-radius: 4px;
}

#Logo {
  width: 250px;
  height: 250px;
}

form {
  padding-top: 35px;
  border:1px solid white;
  display: inline-block;
}

#buttonOwner{
  margin-top: 25px;
  background-color: black;
  color: white;
}

#buttonSitter{
  margin-top: 25px;
  background-color: black;
  color: white;
}

.HomeView{
  margin: auto;
  width: 45%;
  padding: 10px;
}

span::before { content: '\A'; white-space: pre; }


.filteredResults {
  list-style-type: none;
  border: lightcoral 2px;
}

#Results {
    display:inline-block;
    border:2px solid white;
    padding:20px;
}